<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js学习记录</title>
</head>
<body>
    

<div id="md-body">

---

# 1. Vue.js 基础

---

##  Vue.js是什么

`Vue.js`是一套构建用户界面的**渐进式框架**。

Vue采用自底向上增量开发的设计。

Vue核心库只关注图层，并且非常容易学习，非常容易与其它库或已有项目整合。

另一方面，Vue完全有能力驱动采用[单文件组件](http://cn.vuejs.org/v2/guide/single-file-components.html)和[Vue生态系统支持的库](http://github.com/vuejs/awesome-vue#libraries--plugins)开发的复杂单页应用。

Vue.js目标是通过尽可能简单的API实现**响应式数据绑定**和**组合的视图组件**。

点击[对比其他框架](http://cn.vuejs.org/v2/guide/comparison.html)

## 起步

**学习Vue.js需要有HTML、CSS和JavaScript中级前端知识**。

安装Vue.js请看[安装指南](http://cn.vuejs.org/guide/installation.html)

测试可以下载[开发版本](http://vuejs.org/js/vue.js)

BootStrap中文网 CDN服务 : [//cdn.bootcss.com/vue/2.1.10/vue.js](//cdn.bootcss.com/vue/2.1.10/vue.js)

```javascript
<script scr="//cdn.bootcss.com/vue/2.1.10/vue.js" type="text/javascript"></script>
```

在开发版本中**遇到常见错误会给出友好的警告**。

`vue-cli`构建单页面使用，**不推荐**新手直接使用，尤其对Node.js构建工具不够了解更要慎用。


## 声明式渲染

Vue.js的核心是一个允许你采用简洁的模板语法来声明式的将数据渲染进DOM的系统：

示例`first_demo.html`如下：

```html
<div id="app">
	{{message}}
</div>
```

```javascript
var app = new Vue({
	el:"#app",
	data:{
		message:"Hello Vue"
	}
});
```

返回结果：

```dos
Hello Vue
```

如是，即生成了第一个Vue应用！

现在数据和DOM已经绑定在一起，所有元素都是**响应式的**。

通过测试可以看出。打开开发者工具的console控制台，输入指令

```javascript
app.message = "It's Cool"
```

返回结果：

```dos
It's cool
```

除了绑定插入的文本内容，还可以采用下述方式绑定DOM元素属性：

示例`second_demo.html`如下：

```html
<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse over me for a few seconds to see my dymaically bound title
		</span>
</div>
```

```javascript
var app2 = new Vue({
	el:"#app-2",
	data:{
		message:"You loaded this page on "+new Date()
	}
});
```

上例中，当鼠标放在div#app-2悬停，会显示You loaded this page on 时间。也就是div元素默认的title属性和message属性绑定在了一起。

此处`v-bind`属性被称为**指令**。指令带有前缀`v-`，以表示它们是Vue.js提供的特殊属性。

`v-bind:x="y"`指令是将这个元素的`x`属性和Vue实例的`y`属性绑定到一起。

再次输入`app2.message = "some new message"`就会再次看到title属性的已经进行了更新。


## 条件与循环

控制切换一个元素的显示：

示例`third_demo.html'如下：

```html
<div id="app-3">
	<p v-if="seen">Now you see me</p>
</div>
```

```javascript
var app3 = new Vue({
	el:"#app-3",
	data:{
		seen:true
	}
});
```

返回结果：

```dos
Now you see me
```

如果在控制台设置`app3.seen = false`，div就消失了。


上述例子演示了vue.js不仅可以绑定DOM文本到数据，也可以绑定DOM**结构**到数据。

而且vue.js也提供一个强大的过渡效果系统，可以在vue插入/删除元素时自动应用

[过渡效果](http://cn.vuejs.org/v2/guide/transitions.html)

[管理过渡状态](http://cn.vuejs.org/v2/guide/transitioning-state.html)

除了`v-if`还有其他指令，比如`v-for`指令可以绑定数据到数组来渲染一个列表。

```html
<div id="app-4">
	<ol>
		<li v-for="todo in todos">
			{{todo.text}}
		</li>
	</ol>
</div>
```

```javascript
var app4 = new Vue({
	el:"#app-4",
	data:{
		todos:[
			{text:'Learn JavaScript'},
			{text:'Learn Vue'},
			{text:'Build something awesome'}
		]
	}
});
```

返回结果：

```dos
1.Learn JavaScript
2.Learn Vue
3.Build something awesome
```

在控制台输入`app4.todos.push({text:Learn Python})`，会发现列表会多一条。

同样，如果`app4.todos.pop()`，列表会清空最后一条。

如是观之，vue.js将DOM文本和Vue数据动态捆绑在了一起，并且可以**像操作JavaScript中的数组一样操作**。


## 处理用户输入

`v-on`指令可以**绑定一个监听事件**用于**调用**Vue实例中定义的**方法**。

示例`fifth_demo.html`如下：

```html
<div id="app-5">
	<p>{{message}}</p>
	<button v-on:click="reverseMessage">Reverse Message</button>
</div>
```

```javascript
var app5 = new Vue({
	el:"#app-5",
	data:{
		message:"Hello Vue.js"
	},
	methods:{
		reverseMessage:function(){
			this.message = this.message.split('').reverse().join('');
		}
	}
});
```

上述例子中，当点击按钮，p标签中的字符串翻转显示。

在`reverseMessage`方法中，在没有接触DOM的情况下，更新了应用的状态。

Vue特点：**所有的DOM操作都由Vue来处理**，而开发者只需要关注基本的逻辑。

Vue也提供了`v-model`指令，它使得在表单输入和应用状态中做双向数据绑定变得非常轻巧。

```html
<div id="app-6">
	<p>{{message}}</p>
	<input v-model="message"/>
</div>
```

```javascript
var app6 = new Vue({
	el:"#app-6",
	data:{
		message:"Hello Vue.js"
	}
});
```

上述例子中，当输入内容后，p标签内容相应改变。


## 用组件构建（应用）

组件系统是Vue.js另一个重要概念，因为它提供了一种抽象，让开发者可以用独立可复用的小组件来构建大型应用。

如果考虑这点，几乎任意类型的应用的界面都可以抽象为一个组件树。

![Vue组件系统](http://cn.vuejs.org/images/components.png "Vue组件树")

在Vue里，一个**组件**实质上**是**一个拥有预定义选项的一个**Vue实例**：

```javascript
// Define a new component called todo-item
Vue.component('todo-item',{
	// The todo-item component now accepts a 
	// "prop",which is like a custom attribute.
	// This prop is called todo.
	props:['todo'],
	template:'<li>{{ todo.text }}</li>'
})
```

上例创建一个可以接受名为`todo`的参数的组件`todo-item`。

完整组件示例`seventh.html`如下：

```html
<div id="app-7">
	<ol>
		<!-- Now we provide each todo-item with the todo object -->
		<!-- it's representing,so that its content can be dynamic -->
		<todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
	</ol>
</div>
```

```js	
Vue.component('todo-item',{
	props:['todo'],
	template:'<li>{{todo.text}}</li>'
});

var app7 = new Vue({
	el:"#app-7",
	data:{
		groceryList:[
			{text:'Vegetables'},
			{text:'Cheese'},
			{text:'Whatever else humans are supposed to eat'}
		]
	}
});
```

返回结果：

```
1.Vegetables
2.Cheese
3.Whatever else humans are supposed to eat
```

上述例子将应用分割成两个更小的单元，子元素通过`props`接口实现了与父元素很好的解耦。

从而在不影响到父应用的基础上，进一步为`todo`组件改进更多更为复杂的模块和逻辑。

在一个大型应用中，为了使得开发过程可控，有必要将应用整体分割为一个个组件。

在[后面的教程](http://cn.vuejs.org/v2/guide/components.html)中，将详述组件。

下面展现应用模板的示例如下：

```html
<div id="app">
	<app-nav></app-nav>
	<app-view>
		<app-sidebar></app-sidebar>
    	<app-content></app-content>
	</app-view>
</div>
```

## 与自定义元素的关系

Vue.js的组件语法参考了[Web组件规范](http://www.w3.org/wiki/WebComponents/)的**自定义元素**内容。

但是也有着几个关键不同：

1. Web组件规范未完成，浏览器还并不支持。相比之下，Vue.js组件不需要补丁。必要时，Vue.js组件也可以放在原生自定义元素之内。
2. Vue.js组件提供了原生自定义元素所不具备的一些重要功能，比如组件间数据流，自定义事件系统，以及动态的、带特效的组件替换。

---

# 2. Vue 实例

---

## 构造器

每个Vue.js应用都是通过构造函数`Vue()`创建一个**Vue的根实例**启动的：

```js
var vm = new Vue({
	
});
```

虽然没有完全遵循[MVVM模式](https://en.wikipedia.org/wiki/Model_View_ViewModel)，但受到了它的启发。

在实例化Vue时，需要传入一个**选项对象**，他可以包含**数据**`data`，**模板**`template`，**挂载元素**`el`，**方法**`method`，**生命周期钩子**等选项。全部的选项见[API文档](http://cn.vuejs.org/v2/api)

可以扩展`Vue构造器`,从而用预定义选项创建可复用的**组件构造器**。

```js
var MyComponent = Vue.extend({
	//扩展选项
});

// 所有的 MyComponent 实例都将以预定义的扩展选项被创建
var myComponentInstance = new MyComponent();
```

多数情况下建议将组件构造器**注册**为一个自定义元素，然后再**声明式**用在模板中。

所以所有的Vue.js组件都是被扩展的Vue实例。

详情可查阅[组件系统](http://cn.vuejs.org/guide/components.html)

## 属性与方法



</div>
    
<script src="https://YQMCU.github.io/books_study/scripts/markdown_parse.js" type="text/javascript"></script>


</body>
</html>